---
import 'swiper/css';
import 'swiper/css/pagination';
import 'swiper/css/navigation';

interface Props {
  sliderName: string;
  navigation?: boolean;
  pagination?: boolean;
}

const {
  sliderName,
  navigation = true,
  pagination = true,
} = Astro.props;
---

<div class={`${sliderName}-showcase`}>
  <div class={`swiper ${sliderName}-swiper`}>
    <div class="swiper-wrapper">
      <slot />
    </div>

    <!-- Navigation -->
    {
      navigation && (
        <>
          <button
            class={`btn--primary nav-btn prev ${sliderName}-prev`}
            aria-label="Proyecto anterior"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
            >
              <path d="M15 18l-6-6 6-6" />
            </svg>
          </button>
          <button
            class={`btn--primary nav-btn next ${sliderName}-next`}
            aria-label="Proyecto siguiente"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
            >
              <path d="M9 18l6-6-6-6" />
            </svg>
          </button>
        </>
      )
    }
  </div>

  <!-- Pagination -->
  {pagination && <div class={`swiper-pagination ${sliderName}-pagination`} />}
</div>

<style>
  .nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color-primary);
    color: var(--color-white);
    border: none;
    width: var(--px-48);
    height: var(--px-48);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: var(--shadow-lg);
    z-index: 2;
    transition: all 0.4s var(--ease-elastic-2);
  }

  .nav-btn.prev {
    left: 0;
  }

  .nav-btn.next {
    right: 0;
  }

  .nav-btn svg {
    width: var(--px-24);
    height: var(--px-24);
  }

  :global(.swiper-pagination) {
    position: relative;
    margin-top: var(--px-32);
  }

  :global(.swiper-pagination-bullets.swiper-pagination-horizontal) {
    bottom: 0 !important;
  }

  :global(.swiper-pagination-bullet) {
    width: var(--px-8);
    height: var(--px-8);
    border-radius: 50%;
    border: none;
    background-color: rgba(3, 78, 162, 0.24);
    opacity: 1;
    cursor: pointer;
    padding: 0;
    transition: all var(--transition-long);
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: var(--color-brand-red);
    transform: scale(1.5);
  }

  @media screen and (max-width: 55rem) {
    .nav-btn {
      display: none;
    }

    :global(.swiper-pagination) {
      margin-top: var(--px-24);
    }
  }
</style>
